<h1>Grid!</h1>

<% react_component 'GGameGrid', source: games_path %>
<% react_component 'JSONTable', source: games_path, pageCount: 20, pageSize: 30 %>
<%= react_component 'JSONTable', source: games_path, pageCount: 146, pageSize: 30, assumedPageHeight: 700, rowComponent: "GameRow" %>
